<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <h3>Hi {{name}},</h3>
    <p>Welcome to SupaChat.</p>
    <p>Please, click the link below to confirm your email</p>
    <a href="{{link}}">Confirm Email</a>
  </body>
</html>